* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000235;
}

.container {
  color: #ffff;
  font-family: "Inter", sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;


  @media only screen and (min-width: 400px) and (max-width: 1024px) {
    width: 100%;
    border: 3px solid red;
  }
  @media only screen and (min-width: 1025px) {
    margin: auto;
    width: 50%;
    border: 3px solid green;
  }
}

.header {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.logo {
  flex-grow: 1;
  margin-right: auto;
  flex: 1 1 30%;
}

.nav {
margin-left: auto;
flex-grow: 1;
flex: 1 1 70%;

}

.section-zero {
  font-size: 24px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column wrap;
  align-content: center;
  gap: 1em;
}

#firstsentence {
  padding-bottom: 55px;
  font-weight: 400;
  height: fit-content;

}

.yes-i {
  font-size: 24px;
  width: 705px;
  height: 586px;
  margin-top: 246px;
  margin-left: 389px;
}

.that {
  font-style: italic;
}

#first-last {
  padding-bottom: 55px;
}

.first-name {
  font-size: 64px;
  margin-top: 246px;
  margin-left: 389px;
}

.last-name {
  font-size: 64px;
  color: rgb(197, 171, 38);
}

.second-sentence {
  color: rgb(139, 135, 135);
  font-size: 44px;
  margin-left: 389px;
  padding-bottom: 55px;
  width: 684px;
}

.more-accurately {
  font-size: 32px;
  margin-left: 389px;
  width: 511.3px;
  height: 143.26px;
}
.button {
background-color: #7a7cff;
font-size: 24px;

}
